<main>
	<form class="product-form" action="/admin/add-product" method="POST">
		<p>Aza</p>
		<div class="form-control">
			<label for="title">{{pageTitle}}</label>
			<input type="text" name="title" id="title">
		</div>

		<button class="btn" type="submit">Add Product</button>
	</form>
</main>